.bi-whatsapp::before { content: "\f618"; }
.bi-facebook::before { content: "\f618"; }
.bi-instagram::before { content: "\f618"; }


/* Color Theme Swatches in Hex */
.Water-and-Rust-1-hex { color: #151F30; }
.Water-and-Rust-2-hex { color: #103778; }
.Water-and-Rust-3-hex { color: #0593A2; }
.Water-and-Rust-4-hex { color: #FF7A48; }
.Water-and-Rust-5-hex { color: #E3371E; }

/* Color Theme Swatches in RGBA */
.Water-and-Rust-1-rgba { color: rgba(21, 31, 48, 1); }
.Water-and-Rust-2-rgba { color: rgba(16, 55, 120, 1); }
.Water-and-Rust-3-rgba { color: rgba(5, 147, 162, 1); }
.Water-and-Rust-2-hex { color: #103778; }
.Water-and-Rust-4-rgba { color: rgba(255, 122, 72, 1); }
.Water-and-Rust-5-rgba { color: rgba(227, 55, 30, 1); }


html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    background-color: #103778;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2{
    color: #103778;
    font-size: 1.6rem;
    font-weight: 600;

}
body{
    background-color: #ffffff;
}
h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #103778;
}

p{
    font-size: 1.5rem;
    font-weight: 400;

}

header {
    height: 80px;
}

section > div,section > article{
    display: grid;
    justify-content: center;
}

.tendencies {
    text-align: center;
}

.tendencies__img-list{
    margin-top: 19px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 260px;
    height: 260px;
    margin-bottom: 19px;
}
.tendencies__img-list .img-container{
    margin-top: 0;
    display: inline-block;
    margin-right: 8px;

}



.tendencies__moving-icon {
    display: flex;
    justify-content: center;
}

.tendencies__moving-icon i{

    margin: 0 4px;
}
.categories-view__list-categories{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 30px;
}
.list-box{
    display: flex;
}

.list-box button{
    align-self: center;
    width: 13px;
    height: 13px;
    border: 1px solid #151F30;
    margin-right: 12px;
}