.bi-whatsapp::before { content: "\f618"; }
.bi-facebook::before { content: "\f618"; }
.bi-instagram::before { content: "\f618"; }


/* Color Theme Swatches in Hex */
.Water-and-Rust-1-hex { color: #151F30; }
.Water-and-Rust-2-hex { color: #103778; }
.Water-and-Rust-3-hex { color: #0593A2; }
.Water-and-Rust-4-hex { color: #FF7A48; }
.Water-and-Rust-5-hex { color: #E3371E; }

/* Color Theme Swatches in RGBA */
.Water-and-Rust-1-rgba { color: rgba(21, 31, 48, 1); }
.Water-and-Rust-2-rgba { color: rgba(16, 55, 120, 1); }
.Water-and-Rust-3-rgba { color: rgba(5, 147, 162, 1); }
.Water-and-Rust-2-hex { color: #103778; }
.Water-and-Rust-4-rgba { color: rgba(255, 122, 72, 1); }
.Water-and-Rust-5-rgba { color: rgba(227, 55, 30, 1); }


html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    background-color: #103778;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2{
    color: #103778;
    font-size: 1.6rem;
    font-weight: 600;

}
body{
    background-color: #ffffff;
    display: grid;
    place-items: center;
    /* position: relative; */
}
h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #103778;
}

p{
    font-size: 1.5rem;
    font-weight: 400;

}

.primary-button{

    border: none;
    background-color: #FF7A48;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    
}
.primary-button p{

    font-weight: bold;
}

.inactive{

    display: none!important;
}
header {
    height: 80px;
    width: 100%;
}
nav {
    position: relative;
    display: flex;
}
.nav-left{
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    left: 30px;
}
.nav-left h2{
    margin: 0 20px;
    font-size: 2.2rem;
}

.tendencies {
    text-align: center;
    padding-bottom: 30px;
}

.tendencies__img-list{
    margin-top: 19px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 300px;
    height: 300px;
    margin-bottom: 19px;
}
.tendencies__img-list .img-container{
    margin-top: 0;
    display: inline-block;
    margin-right: 8px;

}



.tendencies__moving-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tendencies__moving-icon i{

    margin: 0 4px;
}


.movie_detail{
    width: 100%;
}

.movie_detail__description {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    row-gap: 20px;
    
}

.movie_detail__description p:nth-child(2){
    justify-self: end;
}

.movie_detail__description p:nth-child(3){

    grid-column-start: 1;
    grid-column-end: 3;
}

.categories-view{
    padding: 20px 0;
}

.categories-view__text{
    padding-bottom: 20px;
}

.categories-view__list-categories{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 10px;
}

.search-section{
    position: relative;
    left: -40px;
    padding: 20px;
}

.search-section--container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.search-section__input{

    background-color: #c4c4c4;
    padding: 5px 15px;
    border-radius: 5px;
}
.search-section--container input{

    background-color: #c4c4c4;
    outline: none;
    border: none;
}


.list-box{
    display: flex;
    padding: 3px 0;
}

.list-box button{
    align-self: center;
    width: 13px;
    height: 13px;
    border: 1px solid #151F30;
    margin-right: 12px;
}
.img-container img{
    border-radius: 10px;
}
.movies-grid--categories{
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(280px,305px));
    gap:10px;
}